@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 80px;
    --first-color: #464140;
    --first-color-light: #000000;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    height: 35px;
    display: flex;
    justify-content: center;
    overflow: hidden
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    /* grid-template-columns: max-content max-content; */
    align-items: center;
    column-gap: 1rem;
    /* padding: .5rem 0 .5rem 1.5rem */
    padding-left: 1rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
    text-align: center;
    padding-bottom: 0.5rem;
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
    text-align: center;
}

.nav_name {
    text-align: center;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width))
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

.header_img a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.header_img a:hover {
    background-color: #A99F9D;
    color: white;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}
.rectangle {
    position: absolute;
    border: 1px solid #FF0000;
    padding: 1px 1px;
}

.rectangle span {
    content: attr(data-word);
    background: #FF0000;
    position: absolute;
    padding: 0 2px;
    color: #fff;
    left: 0;
    bottom: -15px;
    font-family: arial;
    font-size: xx-small;
    font-weight: lighter;
    float: left;
    visibility: hidden;
}

/* .rectangle span {
    content: attr(data-word);
    background: #FF0000;
    position: relative;
    padding: 0 2px;
    color: #fff;
    left: 0;
    bottom: -16px;
    font-family: arial;
    font-size: xx-small;
    font-weight: lighter;
} */

.rectangle i {
    background: #FF0000;
    float: right;
    position: absolute;
    visibility: hidden;
}

.iedit {
    top: -16px;
}

.idelete {
    right: -16px;
}

.rectangle:hover i {
    visibility: visible;
}

.rectangle:hover span {
    visibility: visible;
}
#canvas img {
  /* Full height */
  width: 100%;
  height: 100%; 
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        height: 40px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

.centered {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    }

.modal-container{
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
