.listItems {
  text-align: left;
  align-items: left;
  align-self: left;
  align-content: left;
  float: left
}

.input-container {
  text-align: left;
  align-items: left;
  align-self: left;
  align-content: left;
  float: left
}

.carousel-caption {
  color: #78A2CC;
}

.floating-menu {
    z-index: 9999;
    position: fixed;
  }

  .floating-menu a,
  .floating-menu h3 {
    font-size: 0.9em;
    display: block;
    position: fixed;
  }

.main-image {
  /* width: 100%; */
  margin:auto;
  height:450px;
  width:700px;
  padding-top:50px;
}

.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  }


.md-card-image {
  height: 90px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
}

#buttons-div {
  display: block;
}

#correct:disabled { 
  /* -webkit-appearance: button;
  background: #F5F5F5; */
  color : #C3C3C3;
}